.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #4361ee;
}

.login-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  height: 520px;
  width: 50vw;
  gap: 2rem;
 
}  

.login-content {
  display: flex;
  padding: 0 2rem 0 6rem;
  
}

.login-form {
  display: flex;
  flex-direction: column;
  min-height: 50%;
  gap: 1rem;
}

.login-form form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #4361ee;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.login-form h1 {
  color: #5c79f7;
  font-size: clamp(1.2rem, 3vw, 2rem); 
}

.login-form a {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-decoration: underline;
  color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-form button {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 700;
  padding: 10px 75px;
  background-color: #4361ee;
  transition: 0.5s;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.login-form button:hover {
  color: #4361ee;
  background-color: #000;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.login-inputs input {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #000;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  outline: 0;
  transition: .2s;
  line-break: normal;
}

.login-inputs input:focus {
  border-color: #5c79f7;
}

.login-buttons {
  display: flex;
  gap: 1rem;
}

.login-logo {
  pointer-events: none;
  margin-top: -1rem;
}

.login-logo img {
  width: 70%;
}


.swal-title {
  font-family: 'Poppins', sans-serif;
}

/* Media Queries */

@media (max-width: 768px) {
  .login-container {
    width: 90vw;
    height: auto;
    padding: 1rem;
    gap: 1.5rem;
  }

  .login-form {
    padding-bottom: 1rem;
  }
  
  .login-content {
    flex-direction: column;
    padding: 0;
  }

  .login-logo img {
    display: none;
  }

  .login-inputs input {
    width: 100%;
    padding: 0.8rem;
  }

  .login-buttons {
    flex-direction: column;
    gap: 0.8rem;
  }

  .login-form h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .login-content {
    flex-direction: column;
  }

  .login-buttons {
    gap: 0.5rem;
  }

  .login-logo img {
    width: 40%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .login-container {
    width: 70vw;
  }

  .login-content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }

  .login-logo img {
    display: none;
  }
}