

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #4361ee;

}


.register-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 30vw;
    gap: 2rem;
    padding: 10rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}

.register-content h1 { 
    color: #5c79f7; 
    text-align: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.register-input {
    height: 46px;
    width: 25rem;
    padding: 0 16px;
    border: 2px solid #000;
    border-radius: 4px;
    outline: 0;
    transition: .2s;
    line-break: normal;
    margin-bottom: 2rem;
}

.register-input::after{

}

.register-button {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 700;
    padding: 10px 75px;
    background-color: #4361ee;
    transition: 0.5s;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.register-button:hover {
    color: #4361ee;
    background-color: #000;
}